name: CI - triviabot

on:
  push:
    branches: [ main ]
    paths:
      - go.mod
      - 'cmd/triviabot/*'
      - 'internal/trivia*'
      - 'internal/bot/*'
  pull_request:
    branches: [ main ]
    paths:
      - go.mod
      - 'cmd/triviabot/*'
      - 'internal/trivia*'
      - 'internal/bot/*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Build triviabot
      run: go build -v ./cmd/triviabot
